<section
  class="container mx-auto py-16 px-4 grid md:grid-cols-12 gap-10"
  id="contact-us"
>
  <div class="relative text-right col-span-8 h-96 order-2 md:order-1">
    <div class="overflow-hidden bg-none w-full h-96 rounded-3xl">
      <iframe
        class="h-96"
        width="100%"
        src="https://maps.google.com/maps?width=600&height=400&hl=en&q=Shivam Fabricon, Silver Oak College, Sg Highway, Ahmedabad&t=&z=14&ie=UTF8&iwloc=B&output=embed"
      ></iframe>
    </div>
  </div>
  <div class="col-span-4 space-y-4 order-1 md:order-2">
    <h2 class="text-4xl lg:text-5xl font-bold text-gray-900">Contact Us</h2>
    <div class="space-y-2">
      <a
        href="https://wa.me/+919712549222"
        target="_blank"
        rel="noopener noreferrer"
        class="block"
      >
        Phone: +91 97125 49222
      </a>
      <a
        href="mailto:info@shivamfabricon.in"
        target="_blank"
        rel="noopener noreferrer"
        class="block"
      >
        Email: info@shivamfabricon.in
      </a>
      <p>Address: Shivam Fabricon, Silver Oak College, Sg Highway, Ahmedabad</p>
      <p>GST No: </p>
    </div>
  </div>
</section>
